<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="style.css">
    <title>createBook</title>
    <style>
        input {
            margin-left: 40%;
            margin-top: 1%;
        }
        button {
            margin-left: 43.5%;
            border-radius: 2px solid darkblue;
            background-color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Hi!</h1>
    <form  action=/api/books method="post">
        <tr><input type="text" value="Your title" name='title'></tr>
        <tr><input type="text" value="Your description" name='description'></tr>
        <tr><input type="text" value="Your authors" name='authors'></tr>
        <tr><input type="text" value="Your favorite" name='favorite'></tr>
        <tr><input type="text" value="Your fileCover" name='fileCover'></tr>
        <tr><input type="text" value="Your fileName" name='fileName'></tr>
        <tr><input type="text" value="Your fileBook" name='fileBook'></tr>
        <button type="submit" id='submit' <%#onclick='submit()'%>>Сохранить</button>
</form>
</body>
</html>